In [74]:
import numpy as np
import sqlite3
import pandas as pd

In [90]:
#1)Data Exploration and Evaluation

#Viewing the data through table plus for the database.sqlite db
#Listing the columns that are irrelevant  or need cleansing and standardization

#Loading data from sqlite table into a pandas dataframe for cleansing

df=pd.read_csv('lending-club-loan-data/loan.csv')

In [91]:
print(df.shape)
#Returns(Rows,Columns)

(887383, 75)

In [92]:
# Drop unneccesary columns
df = df.drop(['url', 'desc', 'policy_code', 'last_pymnt_d', 'next_pymnt_d', 'earliest_cr_line', 'emp_title','pymnt_plan','policy_code'], axis=1)
df = df.drop(['id', 'title', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'zip_code'], axis=1)

In [93]:
print(df.shape)

(887383, 61)

In [94]:
#Get unique values for relevant columns to understand the data distribution 
#Columns: emp_length,loan_status,home_ownership,annual_income

df.emp_length.unique()
df.loan_status.unique()
df.home_ownership.unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', None, 'ANY'], dtype=object)

In [95]:
#Replacing emp_length with integer values instead of string
df['emp_length'] = df['emp_length'].apply({'n/a':0,'< 1 year':1,'1 year':2,'2 years':3,'3 years':4,'4 years':5,'5 years':6,'6 years':7,'7 years':8,'8 years':9,'9 years':10,'10+ years':11}.get)
#Replacing Nulls with 0
df.emp_length=df.emp_length.replace(np.nan,0)
df.emp_length.unique()

array([ 11.,   1.,   2.,   4.,   9.,  10.,   5.,   6.,   7.,   3.,   8.,
         0.])

In [97]:
df.shape

array([ 1.,  0.,  2.])

In [102]:
df.isnull().sum()

index                               0
member_id                           1
loan_amnt                           1
funded_amnt                         1
funded_amnt_inv                     1
term                                1
int_rate                            1
installment                         1
grade                               1
sub_grade                           1
emp_length                          0
home_ownership                      1
annual_inc                          5
verification_status                 1
issue_d                             1
loan_status                         1
purpose                             1
addr_state                          1
dti                                 1
delinq_2yrs                        30
inq_last_6mths                     30
mths_since_last_delinq         454314
mths_since_last_record         750330
open_acc                           30
pub_rec                            30
revol_bal                           1
revol_util                        503
total_acc                          30
initial_list_status                 1
out_prncp                           1
                                ...
total_pymnt                         1
total_pymnt_inv                     1
recoveries                          1
collection_recovery_fee             1
last_pymnt_amnt                     1
last_credit_pull_d                 54
collections_12_mths_ex_med        146
mths_since_last_major_derog    665679
application_type                    0
annual_inc_joint               886872
dti_joint                      886874
verification_status_joint      886872
acc_now_delinq                     30
tot_coll_amt                    70277
tot_cur_bal                     70277
open_acc_6m                    866011
open_il_6m                     866011
open_il_12m                    866011
open_il_24m                    866011
mths_since_rcnt_il             866573
total_bal_il                   866011
il_util                        868766
open_rv_12m                    866011
open_rv_24m                    866011
max_bal_bc                     866011
all_util                       866011
total_rev_hi_lim                70277
inq_fi                         866011
total_cu_tl                    866011
inq_last_12m                   866011
dtype: int64

In [ ]:
#Drop fields with more than 80% of null values

df = df.drop(['mths_since_last_delinq'
,'mths_since_last_record'
,'mths_since_last_major_derog'
,'annual_inc_joint'             
,'dti_joint'                    
,'verification_status_joint'
,'open_acc_6m'
,'open_il_6m'                   
,'open_il_12m'                  
,'open_il_24m'                  
,'mths_since_rcnt_il'          
,'total_bal_il'                 
,'il_util'                      
,'open_rv_12m'                  
,'open_rv_24m'                  
,'max_bal_bc'                   
,'all_util'                     
,'inq_fi'                       
,'total_cu_tl'                  
,'inq_last_12m'], axis=1)

In [ ]:
#DOwnloading the data frame as a csv file to create a tableau vizualization

df.to_csv('part1.csv')